.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg, #2e646b 0%, #317589 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}
.deleteIcon {
  margin-right: 5px;
  color: #fff;
}

.editIcon {
  color: #fff;
}
